
.navlist{
    width: 100%;
    text-align: left;
    position:fixed;
    top: 62px; 
    padding-top: 18px;
    padding-left: 150px;
    background-color: #ececed;
    font-weight: 500;
    font-size: 16px;
    margin-top: 50px;
    
}
.navlist ul{
    list-style: none;  
}

.navlist>ul{
    padding-left: 15px;
    
    margin: 0;

    display: inline-block;
    
    color: #000;
}
.navlist>ul>li{
    position: relative;
    float: left;
    width: 180px;
    height: 35px;
    line-height: 35px;
    font-size: 1.8rem;
}
.navlist>ul>li:nth-child(4){
    padding-left: 15px;
}

.navlist>ul>li:last-child>ul>li{
    width:200px;
}
.navlist li:hover .dropdown li {
     display: block;
     
}
button{
    width: 140px;
    height: 40px;
    color: #000;
    background-color:white;
    position: relative;
    left: 45px;
    font-size: 1.8rem;
    bottom: 50px;
    border-radius: 5px;
    border: none;
}








